/* app global css */
.text-pantone {
  color: #663366;
}
.bg-pantone {
  background: #663366;
}

#eq {
  width: 75vw;
  height: 60vh;
  /* transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg); */
}

#speaker {
  width: 75vw;
  height: 60vh;
}
